:root[data-theme="light"][data-v-eb037aeb] {
  --background: #f1f1f1;
  --active-bg: #333333;
  --bg: #ffffff;
  --active-color: #333333;
  --color: #ffffff;
  --inactive-switch-color: #666666;
  --switch-color: #ffffff;
  --inactive-theme-color: #e13535;
  --theme-color: #353940;
  --active-blue: #1951f4;
  --hover-bg: #f0f0f0;
  --auto-bg: #d8d8d8;
  --high-browser-key: #f4f4f6;
  --loading-mask: rgba(255, 255, 255, 0.6);
  --check-device: #d8d8d8;
  --together-bg: #ffffff;
}
:root[data-theme="dark"][data-v-eb037aeb] {
  --background: #121212;
  --active-bg: rgba(255, 255, 255, 0.87);
  --bg: #202124;
  --active-color: rgba(255, 255, 255, 0.87);
  --color: #333333;
  --inactive-switch-color: rgba(255, 255, 255, 0.65);
  --inactive-theme-color: #e13535;
  --theme-color: #eaeef2;
  --active-blue: #1951f4;
  --check-device: #373737;
  --hover-bg: #19191b;
  --switch-color: rgba(255, 255, 255, 0.87);
  --auto-bg: rgba(255, 255, 255, 0.3);
  --high-browser-key: #626365;
  --loading-mask: rgba(0, 0, 0, 0.6);
  --together-bg: #202124;
}
:root[data-theme="custom"][data-v-eb037aeb] {
  --background: #121212;
  --active-bg: rgba(255, 255, 255, 0.87);
  --bg: rgba(0, 0, 0, 0.5);
  --active-color: rgba(255, 255, 255, 0.87);
  --color: #333333;
  --inactive-switch-color: rgba(255, 255, 255, 0.65);
  --inactive-theme-color: #e13535;
  --theme-color: #eaeef2;
  --active-blue: #1951f4;
  --hover-bg: rgba(25, 25, 27, 0.5);
  --switch-color: rgba(255, 255, 255, 0.87);
  --auto-bg: rgba(255, 255, 255, 0.3);
  --high-browser-key: #626365;
  --loading-mask: rgba(0, 0, 0, 0.6);
  --check-device: rgba(55, 55, 55, 0.5);
  --together-bg: #19191b;
}
.close-dia-btn[data-v-eb037aeb] {
  width: 50px;
  border-radius: 0 12px 0 0;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-dia-btn[data-v-eb037aeb]:hover {
  background-color: var(--inactive-theme-color);
}
.close-dia-btn:hover use[data-v-eb037aeb] {
  fill: #fff !important;
}
.common-text[data-v-eb037aeb] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
}
.all-center[data-v-eb037aeb] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aula-disabled[data-v-eb037aeb] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.flex[data-v-eb037aeb] {
  display: flex;
}
.item-center[data-v-eb037aeb] {
  display: flex;
  align-items: center;
}
.content-center[data-v-eb037aeb] {
  display: flex;
  justify-content: center;
}
.relative[data-v-eb037aeb] {
  position: relative;
}
.absolute[data-v-eb037aeb] {
  position: absolute;
}
.all-full[data-v-eb037aeb] {
  width: 100%;
  height: 100%;
}
.w-full[data-v-eb037aeb] {
  width: 100%;
}
.h-full[data-v-eb037aeb] {
  height: 100%;
}
.tf-0[data-v-eb037aeb] {
  position: absolute;
  top: 0;
  left: 0;
}
.fade-enter-active[data-v-eb037aeb],
.fade-leave-active[data-v-eb037aeb] {
  transition: opacity 0.2s ease-in-out;
}
.fade-enter-from[data-v-eb037aeb],
.fade-leave-to[data-v-eb037aeb] {
  opacity: 0;
}
.electron-height[data-v-eb037aeb] {
  height: calc(100vh - 68px) !important;
}
.footer-cancel-btn[data-v-eb037aeb] {
  background: var(--inactive-switch-color);
  width: 104px;
  height: 42px;
  cursor: pointer;
  border-radius: 8px;
  color: var(--color);
}
.footer-cancel-btn[data-v-eb037aeb]:hover {
  background: var(--theme-color);
}
.footer-primary-btn[data-v-eb037aeb] {
  background: #ea5e56;
  color: var(--switch-color);
  width: 104px;
  height: 42px;
  cursor: pointer;
  border-radius: 8px;
}
.footer-primary-btn[data-v-eb037aeb]:hover {
  background: var(--inactive-theme-color);
}
.gif-action[data-v-eb037aeb] {
  flex-direction: column;
  gap: 8px;
}
.gif-action > div[data-v-eb037aeb] {
  width: 76px;
  height: 28px;
  flex-shrink: 0;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: var(--active-color);
  border-radius: 4px;
  cursor: pointer;
}
.gif-action > div[data-v-eb037aeb]:hover {
  background-color: var(--theme-color);
  color: var(--color);
}
.gif-popover[data-v-eb037aeb] {
  padding: 4px !important;
}
.common-toolbar[data-v-eb037aeb] {
  justify-content: space-between;
}
.common-toolbar .svg-icon[data-v-eb037aeb] {
  width: 116px;
  height: 24px;
  cursor: pointer;
}
.common-toolbar .svg-icon[data-v-eb037aeb] use {
  fill: var(--active-color);
}
.common-toolbar .common-toolbar-right[data-v-eb037aeb] {
  padding: 10px;
  gap: 12px;
  background: var(--bg);
  border-radius: 8px;
}
.common-toolbar .common-toolbar-right .status-item[data-v-eb037aeb] {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 4px;
}
.common-toolbar .common-toolbar-right .status-item .svg-icon[data-v-eb037aeb] {
  width: 20px;
  height: 20px;
}
.common-toolbar
  .common-toolbar-right
  .status-item
  .svg-icon[data-v-eb037aeb]
  use {
  fill: var(--active-color);
}
.common-toolbar .common-toolbar-right .status-item[data-v-eb037aeb]:hover {
  background: var(--hover-bg);
}
.language-list[data-v-eb037aeb] {
  padding: 2px;
  flex-direction: column;
  gap: 8px;
  max-height: 204px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 171px;
}
.language-list .language-list-item[data-v-eb037aeb] {
  width: 164px;
  height: 44px;
  padding: 0 12px;
  color: var(--inactive-switch-color);
  flex-shrink: 0;
  line-height: 44px;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 4px;
}
.language-list .language-list-item[data-v-eb037aeb]:hover {
  background-color: var(--hover-bg);
}
.language-list .active-language[data-v-eb037aeb] {
  background-color: var(--theme-color) !important;
  color: var(--color);
}
